body{  
    display:flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
}

.footer{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    width: 300px;
}

#box{
    width:400px;
    height:400px;
    display: grid;
    border: 1px solid black;
    margin-bottom:50px;
}